.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content";
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.container div {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to right,#030200, #6d2668);
}
.header {
    text-align: center;
    font-family: "Press start 2p";  
    color: #f0e7dc;
}
.container div.header {
  grid-area: header;
  text-align: left;
  color: #f0e7dc;

}
.container div.content {
  grid-area: content;
}
.container div.menu {
  grid-area: menu;
  padding: 10px;
  text-align: left;
  font-family: "Press start 2p";
  color: #f0e7dc;
}
body {
  background: linear-gradient(to left,#030200, #6d2668);
}
p {
  font-family: "Noto Sans Mono";
  font-size: 18px;
  font-weight: 600;
  margin: 30px;
}
h2 {
  margin: 30px;
}
hr {
    border: 2px solid transparent;
    border-image: linear-gradient(to left, #030200, #6d2668) 1;
}