.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(59, 234, 71);
}
 
.container div {
  background-color: #e8d403;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 40px;
}

}