.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(172, 169, 0);
}
 
.container div {
  background-color: #83623f;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}