.container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(59, 234, 71);
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container div {
    background-color: #f8e8d3;
    width: 180px
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

body > p {
    text-align: center;
}