.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(109, 0, 172);
}
 
.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;
}